.mainNav {
    background-color: darkgrey;
    padding-top: 1rem;
}

.mainNav ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
}

.mainNav ul li a {
    color: white;
    font-size: 1rem;
    margin-left: .5rem;
}
.card1 {
	margin-top: 70px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  }
	
.img1 {
	
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: -30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }
    

.detailPic{
    width:inherit;
}
.content-text{
    color: white;
}
.btn {
    background-color: #FF0002;
    color: white;
}

input[type=text] {
    width:80%;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px white solid;
    font-size: 17px;
    background-color: transparent;
    color: white;
}

button {
    background-color: transparent;
    color: white;
    border: 1px white;
}
  
  
  